<li class="shrink-0 py-5">
  <button
    type="button"
    aria-pressed="false"
    class="w-42 overflow-hidden rounded-2xl text-center bg-white transition group hover:bg-yellow focus-visible:outline-2 focus-visible:outline-brown"
  >
    <img
      src="/menu/card-menu-category/{{imageUrl()}}"
      alt=""
      class="h-24 w-full py-1.5 px-1.5 rounded-2xl"
    />

    <span class="block px-3 text-md font-bold whitespace-nowrap transition-all duration-200 group-hover:py-2 truncate">
      {{label()}}
    </span>
    
  </button>
</li>