<li class="shrink-0 py-5">
  <button
    type="button"
    aria-pressed="false"
    class="group w-42 overflow-hidden rounded-2xl bg-white text-center transition hover:bg-yellow focus-visible:outline-2 focus-visible:outline-brown"
  >
    <img
      src="/menu/card-menu-category/{{ imageUrl() }}"
      alt=""
      class="h-24 w-full rounded-2xl px-1.5 py-1.5"
    />

    <span
      class="text-md block truncate px-3 font-bold whitespace-nowrap transition-all duration-200 group-hover:py-2"
    >
      {{ label() }}
    </span>
  </button>
</li>
