<section class="mt-5 justify-center">
  <div
    class="flex bg-may-10 pt-5 rounded-3xl justify-evenly px-14 sm:h-[400px] overflow-hidden items-center gap-2"
  >
    <div class="flex flex-col items-start justify-center">
      <h2
        class="text-brown md:font-extrabold text-2xl sm:text-6xl 2xl:text-8xl leading-none xl:leading-[0.8] font-fredoka"
      >
        Nuestros restaurantes
      </h2>
      <button
        class="flex justify-center bg-red text-white font-fredoka rounded-3xl text-[20px] sm:mt-12 mt-2 sm:w-[500px] items-center gap-1 p-2"
      >
        Ver restaurantes
        <svg lucideArrowRight size="20" color="#ffffff" strokeWidth="2"></svg>
      </button>
    </div>
    <div class="">
      <img
        src="/locationHome.png"
        alt="locations"
        class="sm:max-w-[520px] w-[100px] object-cover"
      />
    </div>
  </div>
</section>
